[submodule "vendor/googletest"]
	path = vendor/googletest
	url = git@github.com:google/googletest.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = git@github.com:miloyip/rapidjson.git
